{{- if .personal }}
[user]
    name = "{{ .git.username }}"
    email = "{{ .git.email }}"
    signingkey = "{{ .git.signingKey }}"

[url "git@github.com:vantesh/"]
	insteadOf = https://github.com/vantesh/

[gpg]
    format = ssh

[commit]
    gpgsign = true

{{ else }}
# ADD YOUR GIT CONFIG HERE
{{ end }}
