{{- if .personal }}
[user]
    name = "{{ .git.username }}"
    email = "{{ .git.email }}"
    signingkey = "{{ .git.signingKey }}"

[gpg]
    format = ssh

[commit]
    gpgsign = true

{{ else }}
# ADD YOUR GIT CONFIG HERE
{{ end }}
