[user]
  name = {{ .name }}
  email = {{ .email }}
{{- if .signkey }}
  signingkey = {{ onepasswordRead "op://Personal/Git commits/public key" }}

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"

[commit]
  gpgsign = true
{{- end }}
