#!/bin/bash
apps=(
  "waypaper --restore"
  "clipse -listen"
  "udiskie"
  "pypr"
  "hyprpanel"
  "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
  {{- if eq .passwordManager "1Password" }}
  "1password --silent"
  {{- end }}
)

for app in "${apps[@]}"; do
  app2unit -- $app &
done
