# /etc/udev/rules.d/50-pci_pm.rules

# Host Bridge
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x3ec4", ATTR{power/control}="auto"

# PCIe Root Ports (bridges)
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x1901", ATTR{power/control}="auto"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0xa340", ATTR{power/control}="auto"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0xa338", ATTR{power/control}="auto"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0xa33c", ATTR{power/control}="auto"
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0xa330", ATTR{power/control}="auto"

# SATA Controller
SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0xa353", ATTR{power/control}="auto"

# Card Reader (Realtek)
SUBSYSTEM=="pci", ATTR{vendor}=="0x10ec", ATTR{device}=="0x525a", ATTR{power/control}="auto"
