
# idleinhibit rules
windowrule = idleinhibit fullscreen, class:^(.*celluloid.*)$|^(.*mpv.*)$|^(.*vlc.*)$
windowrule = idleinhibit fullscreen, class:^(.*[Ss]potify.*)$
windowrule = idleinhibit fullscreen, class:^(.*LibreWolf.*)$|^(.*floorp.*)$|^(.*Brave.*)$|^(.*firefox.*)$|^(.*chromium.*)$|^(.*zen.*)$|^(.*vivaldi.*)$

windowrule = bordercolor rgba($lavenderAlpha59),fullscreen:1

# Picture-in-Picture
windowrule = float, title:^([Pp]icture[-\s]?[Ii]n[-\s]?[Pp]icture)(.*)$
windowrule = keepaspectratio, title:^([Pp]icture[-\s]?[Ii]n[-\s]?[Pp]icture)(.*)$
windowrule = move 73% 72%, title:^([Pp]icture[-\s]?[Ii]n[-\s]?[Pp]icture)(.*)$
windowrule = size 25%, title:^([Pp]icture[-\s]?[Ii]n[-\s]?[Pp]icture)(.*)$
windowrule = float, title:^([Pp]icture[-\s]?[Ii]n[-\s]?[Pp]icture)(.*)$
windowrule = pin, title:^([Pp]icture[-\s]?[Ii]n[-\s]?[Pp]icture)(.*)$


# Base Rules
$center-float-large = class:^(center-float-large)$|^(.*qimgv.*)$|^(.*mpv.*)$|^(nvidia-settings)$|^(io.missioncenter.MissionCenter)$
windowrule = float, $center-float-large
windowrule = size 70% 70%, $center-float-large
windowrule = center 1, $center-float-large

$center-float = class:^(center-float)$|^(xdg-desktop-portal-gtk)$|^(selectdefaultapplication)$
$center-float-title = title:^(.*Open Folder.*)$|^(.*Open File.*)$|^(.*Save File.*)$|^(.*Save Folder.*)$|^(.*Save Image.*)$|^(.*Save As.*)$|^(.*Open As.*)$|^(.*Open Network Stream.*)$|^(.*File Already Exists.*)$|^(.*Confirm to replace files.*)$|^(.*Choose Files.*)$|^(.*Confirm to delete files.*)$|^(.*Downloads -.*)$

windowrule = float, title:^(File Operation Progress)$
windowrule = float, $center-float
windowrule = float, $center-float-title
windowrule = size 50% 50%, $center-float
windowrule = size 50% 50%, $center-float-title
windowrule = center 1, $center-float
windowrule = center 1, $center-float-title

$center-float-mini = class:^(center-float-mini)$|^(.*galculator.*)$|^(.*ytdlp-gui.*)$|^(.*udiskie.*)$|^(.*Calculator.*)$
$center-float-mini-title = title:^(Pick a Font)$
windowrule = float, $center-float-mini
windowrule = float, $center-float-mini-title
windowrule = size 40% 40%, $center-float-mini-title
windowrule = size 30% 40%, $center-float-mini
windowrule = center 1, $center-float-mini

#pin all polkit dilogs
$polkit = class:^(.*polkit-gnome-authentication-agent-1.*)$|^(.*polkit-kde-authentication-agent-1.*)$|^(.*hyprpolkitagent.*)$
windowrule = float, $polkit
windowrule = pin, $polkit
windowrule = stayfocused, $polkit

# Scratchpads
$scratchpad-large = class:^(scratchpad-large)$
windowrule = float, $scratchpad-large
windowrule = center 1, $scratchpad-large
windowrule = size 70% 70%, $scratchpad-large
windowrule = animation slide, $scratchpad-large
windowrule = workspace special: scratchpad-large silent, $scratchpad-large

$scratchpad = class:^(scratchpad)$
windowrule = float, $scratchpad
windowrule = center 1, $scratchpad
windowrule = size 50% 50%, $scratchpad
windowrule = animation slide, $scratchpad
windowrule = workspace special: scratchpad silent, $scratchpad

$scratchpad-mini = class:^(scratchpad-mini)$
windowrule = float, $scratchpad-mini
windowrule = center 1, $scratchpad-mini
windowrule = size 30% 40%, $scratchpad-mini
windowrule = animation slide, $scratchpad-mini
windowrule = workspace special: scratchpad-mini silent, $scratchpad-mini

$sideScratchpad = class:^(.*pavucontrol.*)$|(.*blueman-manager.*)$|^(.*pwvucontrol.*)$
windowrule = size 40% 40%, $sideScratchpad
windowrule = float, $sideScratchpad
windowrule = center 1, $sideScratchpad

# Specific App Rules
$videobridge = class:^(.*xwaylandvideobridge.*)$
windowrule = opacity 0.0 override 0.0 override, $videobridge
windowrule = noanim, $videobridge
windowrule = noblur, $videobridge
windowrule = noinitialfocus, $videobridge
windowrule = maxsize 1 1, $videobridge

$zathura = class:^(.*zathura.*)$
windowrule = float, $zathura
windowrule = size 35% 90%, $zathura
windowrule = center 1, $zathura

$scrcpy = class:^(.*scrcpy.*)$
windowrule = center 1, $scrcpy
windowrule = float, $scrcpy

$videobridge = class:^(.*xwaylandvideobridge.*)$
windowrule = opacity 0.0 override 0.0 override, $videobridge
windowrule = noanim, $videobridge
windowrule = noblur, $videobridge
windowrule = noinitialfocus, $videobridge
windowrule = maxsize 1 1, $videobridge

$vlc = class:^(vlc)$
$vlc_dialogs = title:^(?:Select one or more files to open|Simple Preferences|Adjustments and Effects|Current Media Information|Open URL|Open Media|Save playlist as...|Open Directory) — VLC media player$
windowrule = float, $vlc
windowrule = center 1, $vlc
windowrule = size 50% 50%, $vlc_dialogs
windowrule = size 70% 70%, $vlc, title:^(.*VLC media player)$

{{- if eq .passwordManager "Bitwarden" }}

# Bitwarden Rules
windowrule = float, class:^(Bitwarden)$
windowrule = size 60% 60%, class:^(Bitwarden)$
windowrule = center 1, class:^(Bitwarden)$

# brave bitwarden extension
$bitwarden-brave = class:^(brave-nngceckbapebfimnlniiiahkandclblb-Default)$
windowrule = float, $bitwarden-brave
windowrule = size 30% 60%, $bitwarden-brave

{{- else if eq .passwordManager "1Password" }}
# 1Password Rules
windowrule = float, class:^(1password)$
windowrule = size 60% 60%, class:^(1password)$
windowrule = center 1, class:^(1password)$

{{- end }}

$brave_popups = class:^(brave-browser)$, initialTitle:^(Untitled - Brave)$
windowrule = float, $brave_popups
windowrule = size 30% 60%, $brave_popups
windowrule = center 1, $brave_popups

$zen_popups = float, class:^(zen)$, initialTitle:^(Zen Browser)$
windowrule = float, $zen_popups
windowrule = size 30% 60%, $zen_popups
windowrule = center 1, $zen_popups


$qbittorrent = class:^(org.qbittorrent.qBittorrent)$
windowrule = float, $qbittorrent
windowrule = size 60% 60%, $qbittorrent, title:^(qBittorrent.*)$

$overskride = class:^(.*Overskride.*)$
windowrule = size 30% 80%, $overskride
windowrule = float, $overskride


$gparted = title:^(.*GParted)$
windowrule = size 60% 55%, $gparted
windowrule = float, $gparted
windowrule = center 1, $gparted

workspace = special:exposed,gapsout:60,gapsin:30,bordersize:5,border:true,shadow:false

$btrfs-assistant = class:^(.*btrfs-assistant.*)$
windowrule = size 60% 60%, $btrfs-assistant
windowrule = float, $btrfs-assistant
windowrule = center 1, $btrfs-assistant

$clipse = class:^(clipse-gui)$
windowrule = size 35% 45%, $clipse
windowrule = center 1, $clipse
windowrule = float, $clipse
windowrule = stayfocused, $clipse

$imv = class:^(imv)$ #  image viewer
windowrule = float, $imv
windowrule = size 70% 70%, $imv
windowrule = center 1, $imv

$theming = class:^(kvantummanager)$|^(qt5ct)$|^(qt6ct)$|^(nwg-look)$|^(org.kde.ark)$
windowrule = float, $theming

windowrule = float,title:^(About Mozilla Firefox)$
windowrule = float,class:^(firefox)$,title:^(Picture-in-Picture)$
windowrule = float,class:^(firefox)$,title:^(Library)$
windowrule = float,class:^(blueman-manager)$
windowrule = float,class:^(nm-applet)$
windowrule = float,class:^(nm-connection-editor)$
windowrule = float,class:^(Signal)$ # Signal-Gtk
windowrule = float,class:^(com.github.rafostar.Clapper)$ # Clapper-Gtk
windowrule = float,class:^(app.drey.Warp)$ # Warp-Gtk
windowrule = float,class:^(net.davidotek.pupgui2)$ # ProtonUp-Qt
windowrule = float,class:^(yad)$ # Protontricks-Gtk
windowrule = float,class:^(io.github.alainm23.planify)$ # planify-Gtk
windowrule = float,class:^(io.gitlab.theevilskeleton.Upscaler)$ # Upscaler-Gtk
windowrule = float,class:^(com.github.unrud.VideoDownloader)$ # VideoDownloader-Gkk
windowrule = float,class:^(io.gitlab.adhami3310.Impression)$ # Impression-Gtk
windowrule = float,class:^(io.missioncenter.MissionCenter)$ # MissionCenter-Gtk


# Animation Rules
windowrule = animation slide, title:^(.*cava.*)$
windowrule = animation popin, class:^(.*wleave.*)$



# █░░ ▄▀█ █▄█ █▀▀ █▀█   █▀█ █░█ █░░ █▀▀ █▀
# █▄▄ █▀█ ░█░ ██▄ █▀▄   █▀▄ █▄█ █▄▄ ██▄ ▄█

layerrule = blur,notifications
layerrule = ignorezero,notifications
layerrule = blur,swaync-notification-window
layerrule = ignorezero,swaync-notification-window
layerrule = blur,swaync-control-center
layerrule = ignorezero,swaync-control-center


layerrule = blur, swaync-control-center
layerrule = blur, swaync-notification-window
layerrule = ignorezero, swaync-control-center
layerrule = ignorezero, swaync-notification-window
layerrule = ignorealpha 0.5, swaync-control-center
layerrule = ignorealpha 0.5, swaync-notification-window

layerrule = animation popin, rofi
layerrule = blur, rofi
layerrule = ignorezero, rofi
layerrule = blur, waybar
layerrule = ignorezero, waybar

layerrule = animation slide, swaync-notification-window
layerrule = animation slide, swaync-control-center
layerrule = animation fade, swayosd
layerrule = animation fade, selection
layerrule = noanim, hyprpicker

# Ref https://wiki.hyprland.org/Configuring/Workspace-Rules/
# "Smart gaps" / "No gaps when only"
# uncomment all if you wish to use that.
workspace = w[tv1], gapsout:0, gapsin:0
# workspace = f[1], gapsout:0, gapsin:0
windowrule = bordersize 1, floating:0, onworkspace:w[tv1]
# windowrule = rounding 0, floating:0, onworkspace:w[tv1]
# windowrule = bordersize 0, floating:0, onworkspace:f[1]
# windowrule = rounding 0, floating:0, onworkspace:f[1]


# Fix some dragging issues with XWayland
windowrule = nofocus,class:^$,title:^$,xwayland:1,floating:1,fullscreen:0,pinned:0

# Ignore maximize requests from apps. You'll probably like this.
windowrule = suppressevent maximize, class:^(.*)$
