{{- $skipPrompts := or (eq (env "NOCONFIRM") "1") (env "CI") (env "GITHUB_ACTIONS") (env "GITLAB_CI") (env "CODESPACES") -}}
{{- $personal := false -}}
{{- $defaultShell := "fish" -}}
{{- $compositor := "hyprland" -}}

{{- if not $skipPrompts -}}
  {{- writeToStdout "\n" -}}
  {{- warnf "\033[1;31mPlease do not select 'Y/y' or the setup will fail!\033[0m\n" -}}
  {{- $personal = promptBool "Is this a personal setup (y/N)" false -}}
  {{- $defaultShell = promptChoice "Preferred shell" (list "fish" "zsh") -}}
  {{- $compositor = promptChoice "Preferred compositor" (list "hyprland" "niri") -}}
{{- end -}}

{{- $distroFamily := "" -}}
{{- if .chezmoi.osRelease -}}
  {{- $distroFamily = default .chezmoi.osRelease.id (index .chezmoi.osRelease "idLike") -}}
  {{- if not (or (contains $distroFamily "arch") (contains $distroFamily "fedora") (contains $distroFamily "rhel")) -}}
    {{- if lookPath "pacman" -}}
      {{- $distroFamily = "arch" -}}
    {{- else if lookPath "dnf" -}}
      {{- $distroFamily = "fedora" -}}
    {{- end -}}
  {{- end -}}
  {{- if contains $distroFamily "rhel" -}}
    {{- $distroFamily = "fedora" -}}
  {{- end -}}
{{- end -}}

data:
  defaultShell: {{ $defaultShell | quote }}
  compositor: {{ $compositor | quote }}
  personal: {{ $personal }}
  distroFamily: {{ $distroFamily | lower | quote }}

scriptEnv:
  PERSONAL: {{ ternary "1" "0" $personal | quote }}
  DISTRO_FAMILY: {{ $distroFamily | lower | quote }}
  DISTRO: {{ .chezmoi.osRelease.id | quote }}
  DEFAULT_SHELL: {{ $defaultShell | quote }}
  COMPOSITOR: {{ $compositor | quote }}

edit:
  command: code
  args: [--wait]

merge:
  command: bash
  args: [-c, "cp {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base && code --new-window --wait --merge {{ "{{" }} .Destination {{ "}}" }} {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base {{ "{{" }} .Source {{ "}}" }}"]

diff:
  command: delta
  args: [--paging=never, "{{ "{{ .Destination }}" }}", "{{ "{{ .Target }}" }}"]
  pager: delta
  exclude: [scripts]

github:
  refreshPeriod: 24h
