{{- $personal := true -}} {{/* if false skip the secrets steps */}}
{{- if eq (env "NOT_PERSONAL") "1" -}}
  {{- $personal = false -}}
{{- end -}}

{{- $osRelease := .chezmoi.osRelease -}}
{{- $distro_family := .chezmoi.os -}}
{{- if $osRelease -}}
  {{- $distro_family = default $distro_family (or (index $osRelease "idLike") (index $osRelease "id_like") (index $osRelease "id")) -}}
{{- end -}}

data:
  {{- if not $personal }}
  git_username: {{ promptString "Enter your Git username:" | quote }}
  git_email: {{ promptString "Enter your Git email:" | quote }}
  {{- end }}
  default_shell: {{ promptChoice "What's your preferred shell" (list "fish" "zsh") | quote }}
  compositor: {{ promptChoice "What's your preferred compositor" (list "hyprland" "niri") | quote }}
  personal: {{ $personal }}
  distro_family: {{ $distro_family | lower | quote }}

edit:
  command: "code"
  args: ["--wait"]

merge:
  command: "bash"
  args:
    - "-c"
    - "cp {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base && code --new-window --wait --merge {{ "{{" }} .Destination {{ "}}" }} {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base {{ "{{" }} .Source {{ "}}" }}"

diff:
  command: "delta"
  args:
    - "--paging=never"
    - "{{ "{{ .Destination }}" }}"
    - "{{ "{{ .Target }}" }}"
  pager: "delta"
  exclude:
    - "scripts"

{{/* bw cli for secrets */}}
bitwarden:
  unlock: auto
  command: "{{ .chezmoi.homeDir }}/.local/bin/bw"

{{/* api refresh */}}
github:
  refreshPeriod: 12h
