key.txt.age

{{ if eq .chezmoi.os "linux" }}
.chezmoiscripts/windows/**
Documents
{{ else if eq .chezmoi.os "windows" }}
.chezmoiscripts/linux/**
.config/kitty
.config/hypr/**
.config/waybar
.config/rofi
.config/matugen
.config/kvantum
.config/paru
.config/clipse
.config/gtk*
.config/
{{ else }}
.chezmoiscripts/windows/**
.chezmoiscripts/linux/**
{{ end }}

{{- if and (eq .chezmoi.username "vantesh") (eq .shell.default "fish") }}
.config/zsh
{{- end }}

{{- if ne .chezmoi.username "vantesh" }}
{{- if eq .default_shell "zsh" }}
.config/fish
{{- end }}
{{- end }}
