{{- $name := promptString "Please enter your git Username" -}}
{{- $email := promptString "Please enter your Git Email" -}}
{{- $signkey := eq $name "Vantesh" -}}
{{- $passwordManager := "" -}}
{{- if $signkey -}}
{{- $passwordmanagerchoices := list "1Password" "Bitwarden" -}}
{{- $passwordManager = promptChoice "Which password manager do you use? " $passwordmanagerchoices -}}
{{- end -}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  signkey = {{ $signkey }}
  passwordManager = {{ $passwordManager | quote }}

[edit]
  command = "code"
  args    = ["--wait"]

[merge]
  command = "bash"
  args = [
    "-c",
    "cp {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base && code --new-window --wait --merge {{ "{{" }} .Destination {{ "}}" }} {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base {{ "{{" }} .Source {{ "}}" }}",
  ]

[diff]
    command = "delta"
    args = ["--paging=never", "{{ "{{ .Destination }}" }}", "{{ "{{ .Target }}" }}"]
    pager = "delta"

    exclude = ["scripts"]
