{{- $name := promptString "Please enter your git Username" -}}
{{- $email := promptString "Please enter your Git Email" -}}
{{- $signkey := eq $name "Vantesh" -}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  signkey = {{ $signkey }}

[edit]
  command = "code"
  args    = ["--wait"]

