#!/usr/bin/env bash

# shellcheck disable=SC1091
source "${CHEZMOI_WORKING_TREE:?env variable missing. Please only run this script via chezmoi}/dotfiles/.chezmoiscripts/helpers/.00_helpers"

# =============================================================================
# Install password manager
# =============================================================================

{{- if eq .passwordManager "Bitwarden" }}
print_box "smslant" "Pass Manager"
print_step "Installing password manager"

install_package "bitwarden-bin"
if ! command -v bw &>/dev/null; then
  print_info "Installing Bitwarden CLI..."
  if sudo npm install -g @bitwarden/cli &>/dev/null; then
    print_info "Bitwarden CLI installed successfully."
  else
    print_yellow "Bitwarden CLI installation failed. Please install it manually."
  fi
else
  print_info "Bitwarden CLI is already installed."
fi
{{- else if eq .passwordManager "1Password" }}
install_package "1password-cli"
install_package "1password"
{{- end }}

# ==========================================================================
# LOGIN
# ==========================================================================

bw_login() {
  if ! bw login --check >/dev/null 2>&1; then
    echo ""
    print_info "Bitwarden CLI is not logged in. Please log in to your Bitwarden account."
    read -r -p "Enter your Bitwarden email: " BW_EMAIL
    while [[ -z "$BW_EMAIL" && $BW_EMAIL =~ ^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$ ]]; do
      print_warning "Invalid email format. Please try again."
      read -r -p "Enter your Bitwarden email: " BW_EMAIL
    done
    BW_SESSION=""
    BW_SESSION=$(bw login "$BW_EMAIL" --raw)
    export BW_SESSION
    bw sync
  elif bw status | grep -q "locked"; then
    print_info "Bitwarden CLI is locked. Unlocking..."
    bw unlock --raw | read -r BW_SESSION
    export BW_SESSION
    print_info "Bitwarden CLI unlocked successfully."
  fi
}

{{- if eq .passwordManager "Bitwarden" }}
bw_login
{{- end }}
