#!/usr/bin/env bash

# shellcheck disable=SC1091
source "${CHEZMOI_WORKING_TREE:?env variable missing. Please only run this script via chezmoi}/dotfiles/.chezmoiscripts/.00_helpers.sh"


# =============================================================================
# Install password manager
# =============================================================================

{{- if eq .passwordManager "Bitwarden" }}
install_package "bitwarden-bin"
if ! has_cmd "bw"; then
  printc -n cyan "Installing Bitwarden CLI..."
  if sudo npm install -g @bitwarden/cli &>/dev/null; then
    printc green "OK"
  else
    printc yellow "Failed to install Bitwarden CLI."
  fi
else
  printc green "Bitwarden CLI is already installed."
fi
{{- else if eq .passwordManager "1Password" }}
install_package "1password-cli"
install_package "1password"
{{- end }}


# ==========================================================================
# LOGIN
# ==========================================================================

bw_login() {
  if ! bw login --check >/dev/null 2>&1; then
    echo ""
    printc cyan "LOG INTO BITWARDEN"
    read -r -p "Enter your Bitwarden email: " BW_EMAIL
    while [[ -z "$BW_EMAIL" ]]; do
      printc red "Bitwarden email cannot be empty. Please try again."
      read -r -p "Enter your Bitwarden email: " BW_EMAIL
    done
    BW_SESSION=""
    BW_SESSION=$(bw login "$BW_EMAIL" --raw)
    export BW_SESSION
  fi
  if [[ -z "$BW_SESSION" ]]; then
    fail "Failed to log into Bitwarden. Please check your credentials."
  fi
}


{{- if eq .passwordManager "Bitwarden" }}
bw_login
{{- end }}
