{{ if .personal }}
# GitHub token from Bitwarden
export CHEZMOI_GITHUB_ACCESS_TOKEN="{{ (rbwFields "github").CHEZMOI_GITHUB_ACCESS_TOKEN.value }}"

# Bitwarden SSH agent socket
export SSH_AUTH_SOCK="$HOME/.bitwarden-ssh-agent.sock"

{{ end }}
