{{ if not (env "OFFLINE") }}
{{- if eq .chezmoi.os "linux" }}

{{- $tag := (gitHubLatestTag "Vladimir-csp/app2unit").Name }}
".local/bin/app2unit":
  type: archive-file
  executable: true
  url: "https://github.com/Vladimir-csp/app2unit/archive/refs/tags/{{ $tag }}.zip"
  refreshPeriod: "168h"
  path: "app2unit-{{ trimPrefix "v" $tag }}/app2unit"

{{- $confbTag := (gitHubLatestTag "nekwebdev/confb").Name }}
".local/bin/confb":
  type: archive-file
  executable: true
  url: "https://github.com/nekwebdev/confb/releases/download/{{ $confbTag }}/confb_{{ $confbTag }}_linux_{{ .chezmoi.arch }}.tar.gz"
  refreshPeriod: "168h"
  path: "confb"

{{- end }}
{{ end }}
