{{ if not (env "OFFLINE") }}
{{- if eq .chezmoi.os "linux" }}

{{- $tag := (gitHubLatestTag "Vladimir-csp/app2unit").Name }}
".local/bin/app2unit":
  type: archive-file
  executable: true
  url: "https://github.com/Vladimir-csp/app2unit/archive/refs/tags/{{ $tag }}.zip"
  refreshPeriod: "168h"
  path: "app2unit-{{ trimPrefix "v" $tag }}/app2unit"

{{/* dgop - AvengeMedia/dgop */}}
{{- $tag := (gitHubLatestRelease "AvengeMedia/dgop").TagName }}
".local/bin/dgop":
  type: archive-file
  executable: true
  url: "https://github.com/AvengeMedia/dgop/releases/download/{{ $tag }}/dgop-linux-{{ .chezmoi.arch }}.tar.gz"
  refreshPeriod: "36h"
  path: "dgop-linux-{{ .chezmoi.arch }}"

{{/* dms - AvengeMedia/dms */}}
{{- $tag := (gitHubLatestRelease "AvengeMedia/danklinux").TagName }}
".local/bin/dms":
  type: file
  executable: true
  url: "https://github.com/AvengeMedia/danklinux/releases/download/{{ $tag }}/dms-{{ .chezmoi.arch }}.gz"
  decompress: gzip
  refreshPeriod: "36h"

{{- end }}
{{ end }}
