{{ if not (env "OFFLINE") }}
{{- if eq .chezmoi.os "linux" }}

{{- $refresh := "744h" }}
{{- $hypr := "driedpampas/macOS-hyprcursor" }}

".local/share/icons/macOS-hypr":
  url: {{ gitHubLatestReleaseAssetURL $hypr "macOS.Hyprcursor.SVG.White.tar.gz" | quote }}
  type: archive
  stripComponents: 1
  refreshPeriod: {{ $refresh | quote }}

".local/share/icons/macOS-hypr-dark":
  url: {{ gitHubLatestReleaseAssetURL $hypr "macOS.Hyprcursor.SVG.tar.gz" | quote }}
  type: archive
  stripComponents: 1
  refreshPeriod: {{ $refresh | quote }}

{{- end }}
{{ end }}
