{{- if eq .chezmoi.os "linux" }}
".local/share/icons/macOS-hypr":
  url: {{ gitHubLatestReleaseAssetURL "driedpampas/macOS-hyprcursor" "macOS.Hyprcursor.SVG.White.tar.gz" | quote }}
  type: archive
  stripComponents: 1
  refreshPeriod: "744h"

".local/share/icons/macOS-hypr-dark":
  url: {{ gitHubLatestReleaseAssetURL "driedpampas/macOS-hyprcursor" "macOS.Hyprcursor.SVG.tar.gz" | quote }}
  type: archive
  stripComponents: 1
  refreshPeriod: "744h"

".local/share/icons/macOS":
  url: {{ gitHubLatestReleaseAssetURL "ful1e5/apple_cursor" "macOS.tar.xz" | quote }}
  type: archive
  include:
    - "*/macOS/**"
  refreshPeriod: "744h"
  stripComponents: 2

".local/share/icons/macOS-White":
  url: {{ gitHubLatestReleaseAssetURL "ful1e5/apple_cursor" "macOS.tar.xz" | quote }}
  type: archive
  include:
    - "*/macOS-White/**"
  refreshPeriod: "744h"
  stripComponents: 2
{{- end }}

