{{- if eq .chezmoi.os "linux" }}
".local/share/icons/macOS-hypr":
  url: {{ .macOSHyprWhiteIconsUrl }}
  type: archive
  stripComponents: 1
  refreshPeriod: "744h"

".local/share/icons/macOS-hypr-dark":
  url: {{ .macOSHyprDarkIconsUrl }}
  type: archive
  stripComponents: 1
  refreshPeriod: "744h"

".local/share/icons/macOS":
  url: {{ .macOSIconsUrl }}
  type: archive
  include:
    - "*/macOS/**"
  refreshPeriod: "744h"
  stripComponents: 2

".local/share/icons/macOS-White":
  url: {{ .macOSIconsUrl }}
  type: archive
  include:
    - "*/macOS-White/**"
  refreshPeriod: "744h"
  stripComponents: 2
{{- end }}

