{{ if not (env "OFFLINE") }}
{{- if eq .chezmoi.os "linux" }}

{{- $tag := (gitHubLatestTag "Vladimir-csp/app2unit").Name }}
".local/bin/app2unit":
  type: archive-file
  url: "https://github.com/Vladimir-csp/app2unit/archive/refs/tags/{{ $tag }}.zip"
  refreshPeriod: "168h"
  path: "app2unit-{{ trimPrefix "v" $tag }}/app2unit"

{{/* dgop - AvengeMedia/dgop */}}
{{- $arch := .chezmoi.arch }}
{{- $tag := (gitHubLatestRelease "AvengeMedia/dgop").TagName }}
".local/bin/dgop":
  type: archive-file
  executable: true
  url: "https://github.com/AvengeMedia/dgop/releases/download/{{ $tag }}/dgop-linux-{{ $arch }}.tar.gz"
  refreshPeriod: "168h"
  path: "dgop-linux-{{ $arch }}"

{{- end }}
{{ end }}
