{{/* Font directory configuration */}}
{{- $fontDir := "" -}}
{{- if eq .chezmoi.os "linux" -}}
  {{- $fontDir = ".local/share/fonts" -}}
{{- else if eq .chezmoi.os "windows" -}}
  {{- $fontDir = "AppData/Local/Microsoft/Windows/Fonts" -}}
{{- end -}}

{{/* Skip font downloads in offline mode */}}
{{- if not (env "OFFLINE") -}}

{{/* Common refresh period for all fonts */}}
{{- $refresh := "336h" -}}

{{/* Font Awesome */}}
"{{ $fontDir }}/font-awesome":
  type: archive
  url: {{ gitHubLatestReleaseAssetURL "FortAwesome/Font-Awesome" "fontawesome-free-*-desktop.zip" | quote }}
  exact: true
  stripComponents: 2
  refreshPeriod: {{ $refresh | quote }}
  include:
    - "**/otfs/Font*.otf"

{{/* Material Symbols */}}
{{- $materialBase := "https://github.com/google/material-design-icons/raw/refs/heads/master/variablefont" }}

"{{ $fontDir }}/Material-Symbols/MaterialSymbolsRounded[FILL,GRAD,opsz,wght].ttf":
  type: file
  url: "{{ $materialBase }}/MaterialSymbolsRounded%5BFILL,GRAD,opsz,wght%5D.ttf"
  refreshPeriod: {{ $refresh | quote }}

"{{ $fontDir }}/Material-Symbols/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].ttf":
  type: file
  url: "{{ $materialBase }}/MaterialSymbolsOutlined%5BFILL,GRAD,opsz,wght%5D.ttf"
  refreshPeriod: {{ $refresh | quote }}

"{{ $fontDir }}/Material-Symbols/MaterialSymbolsSharp[FILL,GRAD,opsz,wght].ttf":
  type: file
  url: "{{ $materialBase }}/MaterialSymbolsSharp%5BFILL,GRAD,opsz,wght%5D.ttf"
  refreshPeriod: {{ $refresh | quote }}

{{/* Linux-specific fonts */}}
{{- if eq .chezmoi.os "linux" -}}

{{/* Apple Color Emoji for Linux */}}
"{{ $fontDir }}/emojis/AppleColorEmoji.ttf":
  type: file
  url: "https://github.com/samuelngs/apple-emoji-linux/releases/latest/download/AppleColorEmoji.ttf"
  refreshPeriod: {{ $refresh | quote }}

{{/* JetBrains Mono Nerd Font */}}
"{{ $fontDir }}/JetBrainsMono":
  type: archive
  url: "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/JetBrainsMono.tar.xz"
  refreshPeriod: {{ $refresh | quote }}
  exclude:
    - "JetBrainsMonoNerdFontPropo-**.ttf"
    - "JetBrainsMonoNL**.ttf"
    - "README.md"
    - "OFL.txt"

{{- end -}}

{{/* Windows-specific fonts */}}
{{- if eq .chezmoi.os "windows" -}}
{{/* Add Windows-specific fonts here */}}
{{- end -}}

{{- end -}}
