{{- $fontDir := "" -}}
{{- if eq .chezmoi.os "linux" }}
{{- $fontDir = ".local/share/fonts" }}
{{- else if eq .chezmoi.os "windows" }}
{{- $fontDir = "windows/Fonts" }}
{{- end }}

"{{ $fontDir }}/font-awesome":
  type: archive
  url: {{ .fontAwesomeUrl }}
  exact: true
  stripComponents: 2
  refreshPeriod: "336h"
  include:
    - "**/otfs/Font*.otf"

"{{ $fontDir }}/emojis/AppleColorEmoji.ttf":
  url: {{ .appleEmojiUrl }}
  type: file
  refreshPeriod: "336h"

"{{ $fontDir }}/MaterialSymbols/material-symbols-rounded.ttf":
  url: "https://github.com/google/material-design-icons/raw/master/variablefont/MaterialSymbolsRounded%5BFILL%2CGRAD%2Copsz%2Cwght%5D.ttf"
  type: file
  refreshPeriod: "336h"
