{{ if not (env "OFFLINE") }}

"Pictures/Wallpapers":
  type: archive
  url: {{ gitHubLatestReleaseAssetURL "vantesh/wallpapers" "wallpapers.zip" | quote }}
  stripComponents: 1
  refreshPeriod: "336h"

{{ end }}
