#!/bin/bash
apps=(
  "wpaperd -d"
  "clipse -listen"
  "udiskie"
  "pypr"
  "hyprpanel"
  {{- if eq .passwordManager "1Password" }}
  "1password --silent"
  {{- else if eq .passwordManager "Bitwarden" }}
  "bitwarden"
  {{- end }}
)

for app in "${apps[@]}"; do
  app2unit -- $app &
done
