#!/usr/bin/env bash

# shellcheck disable=SC1091
source "${CHEZMOI_SOURCE_DIR:?env variable missing. Please only run this script via chezmoi}/.chezmoiscripts/linux/helpers/.00_helpers"

# =============================================================================
# Install Bitwarden
# =============================================================================
{{- if eq .chezmoi.username "vantesh" }}
print_box "smslant" "Bitwarden"
print_step "Setting up Bitwarden"

install_package "bitwarden"
install_package "rbw"

# ==========================================================================
# LOGIN
# ==========================================================================



validate_email() {
  local email="$1"
  [[ "$email" =~ ^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$ ]]
}

get_bitwarden_email() {
  local email
  while true; do
    read -r -p "Enter your Bitwarden email: " email
    if validate_email "$email"; then
      echo "$email"
      return 0
    else
      print_warning "Invalid email format. Please try again."
    fi
  done
}

if ! rbw login >/dev/null 2>&1; then
  print_step "Logging in to Bitwarden"
  email=$(get_bitwarden_email)
  rbw config set email "$email"
  rbw login
else
  print_info "Bitwarden is already logged in. Skipping login step."
fi

{{- end }}
