#!/usr/bin/env bash

# shellcheck disable=SC1091
source "${CHEZMOI_SOURCE_DIR:?env variable missing. Please only run this script via chezmoi}/.chezmoiscripts/linux/helpers/.00_helpers"

# =============================================================================
# Install password manager
# =============================================================================
{{- if ne .chezmoi.username "vantesh" }}
print_box "smslant" "Pass Manager"

install_package "bitwarden-bin"

if ! command -v bw &>/dev/null; then
  print_info "Installing Bitwarden CLI..."

  mkdir -p "$HOME/.local/bin"

  BW_ZIP_URL="https://bitwarden.com/download/?app=cli&platform=linux"
  BW_ZIP_FILE="/tmp/bitwarden-cli.zip"

  if ! curl -L "$BW_ZIP_URL" -o "$BW_ZIP_FILE"; then
    print_error "Failed to download Bitwarden CLI."
    exit 1 # Exit if download fails
  fi

  if unzip -o "$BW_ZIP_FILE" -d "$HOME/.local/bin"; then
    chmod +x "$HOME/.local/bin/bw"
    print_info "Bitwarden CLI installed successfully."
  else
    rm -f "$BW_ZIP_FILE"
    print_error "Failed to unzip the Bitwarden CLI."
  fi

  # Clean up the zip file on success
  rm -f "$BW_ZIP_FILE"

else
  print_info "Bitwarden CLI is already installed."
fi

# ==========================================================================
# LOGIN
# ==========================================================================

bw_login() {
  if ! bw login --check &>/dev/null; then
    print_info "Bitwarden CLI is not logged in. Please log in."

    local BW_EMAIL
    while true; do
      read -r -p "Enter your Bitwarden email: " BW_EMAIL
      if [[ "$BW_EMAIL" =~ ^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$ ]]; then
        break # Exit loop if email format is valid
      else
        print_warning "Invalid email format. Please try again."
      fi
    done

    BW_SESSION=""
    BW_SESSION=$(bw login "$BW_EMAIL" --raw)
    if ! export BW_SESSION; then
      print_error "Bitwarden login failed. Please check your credentials."
    fi

    bw sync # Sync vault after a fresh login
    print_info "Successfully logged in and synced."

  elif ! bw unlock --check &>/dev/null; then
    print_info "Bitwarden is locked. Please provide your master password to unlock."

    BW_SESSION=""
    BW_SESSION=$(bw unlock --raw)
    if ! export BW_SESSION; then
      print_error "Failed to unlock Bitwarden vault."
    fi
    print_info "Bitwarden unlocked successfully."

  else
    print_info "Bitwarden is already logged in and unlocked."
  fi
}

bw_login

# =============================================================================
# SSH Setup
# =============================================================================

if [[ ! -d ~/.ssh ]]; then
  print_info "Creating SSH directory..."
  mkdir -p ~/.ssh
  chmod 700 ~/.ssh
fi

ssh-keyscan github.com >>~/.ssh/known_hosts
ssh-keyscan gitlab.com >>~/.ssh/known_hosts

{{- end }}
