#!/usr/bin/env bash

{{- if .personal }}
# shellcheck disable=SC1091
source "${CHEZMOI_SOURCE_DIR:?env variable missing. Please only run this script via chezmoi}/.chezmoiscripts/linux/helpers/.00_helpers"

# =============================================================================
# Initialize Environment
# =============================================================================
common_init

if [[ "$(atuin status)" == *"You are not logged in to a sync server"* ]]; then
print_box "smslant" "Atuin"
print_step "Logging in to Atuin"
atuin login \
 --username '{{ (rbw "Atuin").data.username }}' \
 --password '{{ (rbw "Atuin").data.password }}' \
 --key '{{ (rbwFields "Atuin").atuin_key.value }}'
atuin sync
fi
{{- end }}
