
{{- if .personal }}
#--------------------------------------------------
# SSH AGENT
#--------------------------------------------------

if not set -q SSH_AUTH_SOCK; and test -S ~/.bitwarden-ssh-agent.sock
    set -gx SSH_AUTH_SOCK ~/.bitwarden-ssh-agent.sock
end

#--------------------------------------------------
# CHEZMOI GITHUB TOKEN
#--------------------------------------------------
if not set -q CHEZMOI_GITHUB_ACCESS_TOKEN; set -gx CHEZMOI_GITHUB_ACCESS_TOKEN {{ (rbwFields "github").CHEZMOI_GITHUB_ACCESS_TOKEN.value }}
end

{{- end }}
