{{- if .personal -}}
{{- $githubToken := env "CHEZMOI_GITHUB_ACCESS_TOKEN" -}}
{{- if not $githubToken -}}
{{- $githubToken = (rbwFields "github").CHEZMOI_GITHUB_ACCESS_TOKEN.value -}}
{{- end -}}

#--------------------------------------------------
# CHEZMOI GITHUB TOKEN
#--------------------------------------------------
if not set -q CHEZMOI_GITHUB_ACCESS_TOKEN
    set -gx CHEZMOI_GITHUB_ACCESS_TOKEN {{ $githubToken | quote }}
end

{{- end -}}
